#app{
	text-align: center;
	#gameTitle{
		display: none;
		font-size: 1.5em;
		color: rgb(67,142,196);
	}
	#scoreContainer{
		padding-top: 1em;
		span{
			font-size: 1.32em;
			vertical-align: middle;
			display: inline-block;
			width: 35%;
		}
		#curScore{
			text-align: right;
			color: rgb(151,217,89);
		}
		#scoreLogo{
			height: 2.45em;
			vertical-align: middle;
			margin-right: 0.25em;
			margin-left: 0.25em;
		}
		#scoreRecord{
			text-align: left;
			color: rgb(92,189,227);
		}
	}
	#mapContainer{
		margin-top: 1em;
		padding-bottom: 1em;
		position: relative;
		overflow: visible;
		.bigGrid{
			position: absolute;
			border-radius: 0.16em;
		}
		.bgGrid{
			background-color: rgb(225,225,225);
			z-index: 1;
		}
		.blockGrid{
			z-index: 2;
			-webkit-transform-origin: 50% 50%;
			-webkit-transition-duration: 0.4s;
		}
		.blockGrid.disappear{
			-webkit-transform:scale(0);
		}
	}
	#blockContainer{
		position: relative;
		overflow: visible;
		height: 7em;
		.block{
			position: absolute;
			overflow: visible;
			z-index: 100;
			.grid{
				position: absolute;
				border-radius: 0.16em;
			}
		}
	}
}
