<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf8">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, target-densitydpi=device-dpi"/>
        <title>扫雷夺宝</title>
        <link rel="stylesheet" type="text/css" href="/css/lib/lib.min.css">
        <link rel="stylesheet" type="text/css" href="/css/bomb/index.css">
    </head>
    <body>
        <div id='loadingArea'><div id='loadingText'>正在加载资源</div>需要加载较多图片，建议在wifi连接下打开</div>
        <div id='app'>
            <div id='topBar'>本局奖励5000分</div>
            <div id='mapContainer'>
                <div id='cmdArea'>
                    <img id='markSafeImg'>
                    <img id='markFlagImg'>
                </div>
            </div>
        </div>
        <script type="text/javascript" id='myScript'>
        function lazyLoad(jsArray){
            var len = jsArray.length;
            if(len<1){return;}
            var loadingArea = document.getElementById('loadingArea');
            var loadingText = document.getElementById('loadingText');
            function loadJs(curIndex){
                loadingText.innerHTML = '正在加载资源:'+curIndex+'/'+len;
                var s = document.createElement('script');
                s.src = jsArray[curIndex].src;
                var loopWaiting = setInterval(function(){
                    if(jsArray[curIndex].key in window){
                        window.clearInterval(loopWaiting);
                        if(curIndex<len-1){
                            loadJs(curIndex+1);
                        }
                        else{
                            loadingArea.parentNode.removeChild(loadingArea);
                            window[jsArray[curIndex].key]();
                        }
                    }
                },100);
                document.body.appendChild(s);
            }
            loadJs(0);
        }
        (function(){
            var loadJsArray = [
            {
                src:'/js/lib/lib.min.js',
                key:'baseInit'
            },
            {
                src:'/js/bomb/imageBase64.js',
                key:'moveImg'
            },
            {
                src:'/js/bomb/index.js',
                key:'gameInit'
            }];
            lazyLoad(loadJsArray);
        }());
        </script>
    </body>
</html>