<!DOCTYPE html><html><head><meta charset="utf-8"><meta name="format-detection" content="telephone=no"><meta http-equiv="Content-Type" content="text/html; charset=utf8"><meta name="viewport" content="user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1"><title>智取坚果</title><link rel="stylesheet" type="text/css" href="/css/lib/lib.min.css"><link rel="stylesheet" type="text/css" href="/css/getTheNut/index.css"></head><body><div id="loadingArea"><div id="loadingText">正在加载资源</div>需要加载较多图片，建议在wifi连接下打开</div><div id="app"><div id="mapContainer"></div><div id="levelBoard"><div id="levelBoardExit"><img></div><div id="levelWrapper"><div id="levelContainer"></div></div></div><div id="aboutBoard"><div id="aboutBoardExit"><img></div><div id="aboutWrapper"><div id="aboutContainer"><div id="aboutTitle">游戏介绍</div><ul id="aboutList"><li>游戏通关要求是让松鼠<img id="aboutSquirrel">吃到坚果<img id="aboutNut">,只要小松鼠临近坚果既可以过关啦</li><li>游戏中所有动物都可以用手指滑动，开始运动之后会朝着指定方向直线前进,直到碰到障碍物停止或者吃到东西停止</li><li>树木<img id="aboutTree">是不会被摧毁的，任何动物撞到它都会停下来</li><li>野猪<img id="aboutBoar">是最强大的动物，除了同类其他什么都吃，所以轻易不要靠近它</li><li>老鼠<img id="aboutMouse">是松鼠的好朋友，但它也会偷吃掉坚果和果子</li><li>果子<img id="aboutFruit">是普通的植物，动物碰到它之后都会把它吃掉并停下来</li></ul></div></div></div><div id="showAbout"><img></div><div id="chooseLevel"><img></div><div id="footerStatus">第<span id="curLevel"></span>关--已走<span id="curStep"></span>步</div></div><script type="text/javascript" id="myScript">function lazyLoad(jsArray){
            var len = jsArray.length;
            if(len<1){return;}
            var loadingArea = document.getElementById('loadingArea');
            var loadingText = document.getElementById('loadingText');
            function loadJs(curIndex){
                loadingText.innerHTML = '正在加载资源:'+curIndex+'/'+len;
                var s = document.createElement('script');
                s.src = jsArray[curIndex].src;
                var loopWaiting = setInterval(function(){
                    if(jsArray[curIndex].key in window){
                        window.clearInterval(loopWaiting);
                        if(curIndex<len-1){
                            loadJs(curIndex+1);
                        }
                        else{
                            loadingArea.parentNode.removeChild(loadingArea);
                            window[jsArray[curIndex].key]();
                        }
                    }
                },100);
                document.body.appendChild(s);
            }
            loadJs(0);
        }
        (function(){
            var loadJsArray = [
            {
                src:'/js/lib/lib.min.js',
                key:'baseInit'
            },
            {
                src:'/js/lib/iscroll.min.js',
                key:'IScroll'
            },
            {
                src:'/js/getTheNut/index.min.js',
                key:'gameInit'
            }];
            lazyLoad(loadJsArray);
        }());</script></body></html>