<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf8">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1"/>
        <title>一生游戏</title>
        <style type="text/css">
        body{
            margin: 0;
            padding: 0;
        }
        ul{
            list-style: none;
            text-align: center;
            padding: 0;
        }
        li{
            margin-top: 15px;
        }
        img{
            width: 100px;
            margin-right: 20px;
            vertical-align: middle;
        }
        </style>
    </head>
    <body>
        <ul>
            <li>
                <a href="/tetris"><img src="/image/tetris/tetris.png">不一样的俄罗斯方块</a>
            </li>
            <!-- <li>
                <a href="/stickHero"><img src="/image/stickHero/hero.png">火柴英雄</a>
            </li> -->
            <li>
                <a href="/tunnel"><img src="/image/tunnel/cask.png">疯狂管道</a>
            </li>
            <li>
                <a href="/getTheNut"><img src="/image/getTheNut/squirrel.png">智取坚果</a>
            </li>
            <li>
                <a href="/bomb"><img src="/image/bomb/bomb.png">扫雷夺宝</a>
            </li>
        </ul>
        <script type="text/javascript" src='/js/lib/lib.min.js'></script>
        <script type="text/javascript">
        wxInit('','一生游戏','一生游戏','lib/me.jpg');
        </script>
    </body>
</html>