<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf8">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1"/>
        <title>简易钢琴</title>
        <link rel="stylesheet" type="text/css" href="/css/lib/base.css">
        <link rel="stylesheet" type="text/css" href="/css/piano/index.css">
    </head>
    <body>
        <div id='app'>
            <div id='musicHeader'>
                <div id='musicSelectContainer'>
                    <div id='musicTitle'></div>
                    <select id='musicSelect'></select>
                </div>
                <div id='musicBase'></div>
            </div>
            <div id='musicScoreArea'>
                <div id='topMusicList' class='musicList'>
                    <div class='outerList'>
                        <div class='numList'></div>
                        <div class='wordList'></div>
                    </div>
                    <div class='innerList'>
                        <div class='numList'></div>
                        <div class='wordList'></div>
                    </div>
                </div>
                <div id='bottomMusicList' class='musicList'>
                    <div class='outerList'>
                        <div class='numList'></div>
                        <div class='wordList'></div>
                    </div>
                    <div class='innerList'>
                        <div class='numList'></div>
                        <div class='wordList'></div>
                    </div>
                </div>
            </div>
            <div id='keyContainer'>
                <div id='innerCircle'></div>
                <div id='key1' class='key'><div class='keyFlag'>1</div></div>
                <div id='key2' class='key'><div class='keyFlag'>2</div></div>
                <div id='key3' class='key'><div class='keyFlag'>3</div></div>
                <div id='key4' class='key'><div class='keyFlag'>4</div></div>
                <div id='key5' class='key'><div class='keyFlag'>5</div></div>
                <div id='key6' class='key'><div class='keyFlag'>6</div></div>
                <div id='key7' class='key'><div class='keyFlag'>7</div></div>
            </div>
        </div>
        <script type="text/javascript" src='/js/lib/fastclick.min.js'></script>
        <script type="text/javascript" src='/js/lib/jquery.2.1.1.min.js'></script>
        <script type="text/javascript" src='/js/piano/musicLib.js'></script>
        <script type="text/javascript" src='/js/piano/index2.js'></script>
    </body>
</html>