<!DOCTYPE html><html><head><meta charset="utf-8"><meta name="format-detection" content="telephone=no"><meta http-equiv="Content-Type" content="text/html; charset=utf8"><title>火柴英雄</title><link rel="stylesheet" type="text/css" href="/css/lib/lib.min.css"><link rel="stylesheet" type="text/css" href="/css/stickHero/index.min.css"></head><body onclick="emit()"><div id="heroContainer"><canvas id="heroCanvas"></canvas></div><div id="loadingArea"><div id="loadingText">正在加载资源</div></div><div id="app"><canvas id="mainCanvas"></canvas></div><script src="/js/lib/socket.io.js"></script><script>var socket = io.connect('http://172.16.4.39:3000');
        socket.on('news', function (data) {
            console.log(data);
            //socket.emit('my other event', { my: 'data' });
        });
        socket.on('hello', function (data) {
            console.log('helloWrold');
            window.location.href = 'myapp://jp.app/openwith?name=zhangsan&age=26';
        });
        function emit(){
            socket.emit('download',{str:'hello'});
        }</script><script type="text/javascript" id="myScript">function alloyLoaded(){
            var loadingArea = document.getElementById('loadingArea');
            var heroCanvas = document.getElementById('heroCanvas');
            var heroContainer = document.getElementById('heroContainer');
            var shortSide = Math.min(window.myWidth,window.myHeight);
            var bufferWidth = 480;
            var bufferHeight = 350;
            var heroWidth = Math.floor(shortSide/4);
            var heroHeight = Math.floor(heroWidth*bufferHeight/bufferWidth);
            heroCanvas.width = bufferWidth;
            heroCanvas.height = bufferHeight;
            heroCanvas.style.width = heroWidth+'px';
            heroCanvas.style.left = (window.myWidth-heroWidth)/2+'px';
            var scaleNum = heroWidth/bufferWidth;
            var curHeight = loadingArea.offsetHeight+heroHeight;
            var toTop = Math.floor((window.myHeight-curHeight)/3);
            heroCanvas.style.top = toTop+'px';
            loadingArea.style.top = (toTop+heroHeight)+'px';
            heroContainer.style.display = 'block';
            var textureImg = document.createElement('img');
            textureImg.src = window.textureImgBase64;
            window.heroScene = new alloyge.Scene(heroCanvas.getContext('2d'));
            window.heroPlayer = new alloysk.Armature('xiaoxiao',textureImg);
            heroPlayer.playTo('run',45,40,true);
            heroPlayer.setPos(bufferWidth/2,bufferHeight/2);
            heroScene.addObj(heroPlayer);
            heroScene.start();
            // var bufferCtx = heroCanvas.getContext('2d');
            // var mid = Math.floor(heroWidth/2);
            // window.loop = function(){
            //     var imgData = bufferCtx.getImageData(0,0,bufferWidth,bufferHeight);
            //     var newImgData = bufferCtx.createImageData(heroWidth,heroHeight);
            //     for(var i = 0; i < heroWidth; i++){
            //         for(var j = 0; j < heroHeight; j++){
            //             var fi = Math.floor((2*mid-i)*scaleNum);
            //             var fj = Math.floor(j*scaleNum);
            //             var h = 4*(j*heroWidth+i);
            //             var k = Math.floor(4*(fj*bufferWidth+fi));
            //             newImgData.data[h] = imgData.data[k];
            //             newImgData.data[h+1] = imgData.data[k+1];
            //             newImgData.data[h+2] = imgData.data[k+2];
            //             newImgData.data[h+3] = imgData.data[k+3];
            //         }
            //     }
            //     displayCtx.clearRect(0,0,heroWidth,heroHeight);
            //     displayCtx.putImageData(newImgData,0,0);
            //     window.RAF(loop);
            // }
            // loop();
        }
        function lazyLoad(jsArray){
            window.myWidth=window.innerWidth||document.documentElement.clientWidth||document.body.clientWidth;
            window.myHeight=window.innerHeight||document.documentElement.clientHeight||document.body.clientHeight;
            var len = jsArray.length;
            if(len<1){return;}
            var loadingArea = document.getElementById('loadingArea');
            var loadingText = document.getElementById('loadingText');
            var curHeight = loadingText.offsetHeight;
            loadingArea.style.top = Math.floor((window.myHeight-curHeight)/2)+'px';
            function loadJs(curIndex){
                loadingText.innerHTML = '正在加载资源:'+(curIndex+1)+'/'+len;
                var s = document.createElement('script');
                s.src = jsArray[curIndex].src;
                var loopWaiting = setInterval(function(){
                    if(jsArray[curIndex].key in window){
                        window.clearInterval(loopWaiting);
                        var isFunction = (typeof(window[jsArray[curIndex].key]) == 'function');
                        if(curIndex<len-1){
                            if(isFunction){
                                window[jsArray[curIndex].key]();
                            }
                            loadJs(curIndex+1);
                        }
                        else{
                            loadingArea.parentNode.removeChild(loadingArea);
                            if(isFunction){
                                window[jsArray[curIndex].key]();
                            }
                        }
                    }
                },20);
                document.body.appendChild(s);
            }
            loadJs(0);
        }
        (function(){
            var loadJsArray = [
            {
                src:'/js/stickHero/alloystick_v0.4.js',
                key:'alloyInit'
            },
            {
                src:'/js/lib/lib.min.js',
                key:'baseInit'
            },
            {
                src:'/js/stickHero/index.min.js',
                key:'gameInit'
            }];
            //lazyLoad(loadJsArray);
        }());</script></body></html>