<!DOCTYPE html><html><head><meta charset="utf-8"><meta name="format-detection" content="telephone=no"><meta http-equiv="Content-Type" content="text/html; charset=utf8"><title>不一样的俄罗斯方块</title><link rel="stylesheet" type="text/css" href="/css/lib/lib.min.css"><link rel="stylesheet" type="text/css" href="/css/tetris/index.min.css"></head><body><div id="loadingArea"><div id="loadingText">正在加载资源</div></div><div id="app"><div id="gameTitle">不一样的俄罗斯方块</div><div id="scoreContainer"><span id="curScore">0</span><img id="scoreLogo"><span id="scoreRecord">0</span></div><div id="mapContainer"></div><div id="blockContainer"></div></div><script type="text/javascript" id="myScript">function lazyLoad(jsArray){
            window.myWidth=window.innerWidth||document.documentElement.clientWidth||document.body.clientWidth;
            window.myHeight=window.innerHeight||document.documentElement.clientHeight||document.body.clientHeight;
            var len = jsArray.length;
            if(len<1){return;}
            var loadingArea = document.getElementById('loadingArea');
            var loadingText = document.getElementById('loadingText');
            var curHeight = loadingText.offsetHeight;
            loadingArea.style.top = Math.floor((window.myHeight-curHeight)/2)+'px';
            function loadJs(curIndex){
                loadingText.innerHTML = '正在加载资源:'+(curIndex+1)+'/'+len;
                var s = document.createElement('script');
                s.src = jsArray[curIndex].src;
                var loopWaiting = setInterval(function(){
                    if(jsArray[curIndex].key in window){
                        window.clearInterval(loopWaiting);
                        var isFunction = (typeof(window[jsArray[curIndex].key]) == 'function');
                        if(curIndex<len-1){
                            if(isFunction){
                                window[jsArray[curIndex].key]();
                            }
                            loadJs(curIndex+1);
                        }
                        else{
                            loadingArea.parentNode.removeChild(loadingArea);
                            if(isFunction){
                                window[jsArray[curIndex].key]();
                            }
                        }
                    }
                },20);
                document.body.appendChild(s);
            }
            loadJs(0);
        }
        (function(){
            var loadJsArray = [
            {
                src:'/js/lib/lib.min.js',
                key:'baseInit'
            },
            {
                src:'/js/tetris/index.min.js',
                key:'gameInit'
            }];
            lazyLoad(loadJsArray);
        }());</script></body></html>