#app{
	display: none;
    position: relative;
    overflow-x: hidden;
	overflow-y: auto; 
	-webkit-user-select: none;
	background: -webkit-linear-gradient(top,rgb(1,106,99),rgb(103,222,97));
}
#appBg{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 1;
}
#header{
	position: relative;
	background-color: rgb(64,156,142);
	z-index: 100;
}
#score{
	position: absolute;
	height: 100%;
	padding: 0;
	border: none;
	background: none;
	outline: none;
	color: #fff;
	font-size: 1.5em;
}
#timeRecord{
	position: absolute;
	width: 4em;
	height: 100%;
	padding: 0;
	border: none;
	background: none;
	outline: none;
	font-size: 1em;
}
#clockImg{
	display: inline-block;
	margin-right: 0.1em;
	height: 1em;
	position: relative;
	top: 0.139em;
}
#curTime{
	color: #000;
}
#tunnelContainer{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.tunnel{
	position: absolute;
}
.tunnel img{
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	border: none;
}
.flowWater{
	position: absolute;
	z-index: 5;
	background-color: rgb(32,158,67);
	display: none;
}
.beer{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.notConnect{
	background-color: #fff;
}
.caskConnect{
	background-color: rgb(149,105,33);
}
.glassConnect{
	background-color: #000;
}
.line{
	position: absolute;
	background-color: rgba(100, 100, 100, 0.2);
	z-index: 20;
}
.colLine{
	top: 0;
	bottom: 0;
}
.rowLine{
	left: 0;
	right: 0;
}
#footer{
	margin-top: 0.13em;
}
#footer img{
	position: relative;
}
.container{
	position: relative;
	margin: auto;
	z-index: 100;
}
#shadow{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 100;
	display: none;
}
.dialogBoard{
	position: absolute;
	z-index: 1000;
	display: none;
	overflow: hidden;
	width: 94%;
	left: 3%;
}
#alertBoard{
	top: 3%;
}
#chooseBoard{
	top: 17%;
}
#alertBoardBg{
	width: 100%;
}
#chooseBoardBg{
	width: 100%;
}
#userScore{
	position: absolute;
	top: 25%;
	left: 60%;
}
#alertOkButton{
	position: absolute;
	bottom: 12%;
	background-size: 100% 100%;
}
/*#alertOkButton:active{
	background-image: url('/image/tunnel/startButtonOnclick.png');
}*/
#chooseOkButton{
	position: absolute;
	bottom: 15%;
	background-size: 100% 100%;
}
/*#chooseOkButton:active{
	background-image: url('/image/tunnel/playAgainButtonOnclick.png');
}*/
#chooseNotButton{
	position: absolute;
	bottom: 15%;
	background-size: 100% 100%;
}
/*#chooseNotButton:active{
	background-image: url('/image/tunnel/shareButtonOnclick.png');
}*/
#wxRemind{
	position: fixed;
	border: 0;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 10000;
	display: none;
}
#scoreAddArea{
	position: absolute;
	width: 100%;
	text-align: center;
	top: 40%;
	z-index: 20;
	display: none;
}