<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf8">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1"/>
        <title>疯狂管道</title>
        <link rel="stylesheet" type="text/css" href="/css/lib/lib.min.css">
        <link rel="stylesheet" type="text/css" href="/css/tunnel/index.css">
    </head>
    <body>
        <div id='loadingArea'><div id='loadingText'>正在加载资源</div>需要加载较多图片，建议在wifi连接下打开</div>
        <div id='app'>
            <div id='header'>
                <button id='score'></button>
                <button id='timeRecord'>
                    <img id='clockImg'><span id='curTime'>60</span>
                </button>
            </div>
            <div id='caskContainer' class='container'><img class='caskImg'><img class='caskImg'><img class='caskImg'><img class='caskImg'><img class='caskImg'><img class='caskImg'></div>
            <div id='mapContainer' class='container'>
                <div id='lineContainer'></div>
                <div id='scoreAddArea'></div>
                <div id='tunnelContainer'></div>
                <div id='alertBoard' class='dialogBoard'>
                    <img id='alertBoardBg'>
                    <img id='alertOkButton'>
                </div>
                <div id='chooseBoard' class='dialogBoard'>
                    <img id='chooseBoardBg'>
                    <div id='userScore'></div>
                    <img id='chooseOkButton'>
                    <img id='chooseNotButton'>
                </div>
            </div>
            <div id='footer' class='container'><img id='spirit1Img'><img id='spirit2Img'><img id='spirit3Img'><img id='spirit4Img'><img id='spirit5Img'><img id='spirit6Img'></div>
            <img id='wxRemind'>
        </div>
        <script type="text/javascript" id='myScript'>
        window.version = <%= systemTime %>;//js版本号，用于更新缓存
        window.curRank = '<%= curRank %>';
        function lazyLoad(jsArray){
            var len = jsArray.length;
            if(len<1){return;}
            var loadingArea = document.getElementById('loadingArea');
            var loadingText = document.getElementById('loadingText');
            function loadJs(curIndex){
                loadingText.innerHTML = '正在加载资源:'+curIndex+'/'+len;
                var s = document.createElement('script');
                s.src = jsArray[curIndex].src;
                var loopWaiting = setInterval(function(){
                    if(jsArray[curIndex].key in window){
                        window.clearInterval(loopWaiting);
                        if(curIndex<len-1){
                            loadJs(curIndex+1);
                        }
                        else{
                            loadingArea.parentNode.removeChild(loadingArea);
                            window[jsArray[curIndex].key]();
                        }
                    }
                },20);
                document.body.appendChild(s);
            }
            loadJs(0);
        }
        (function(){
            var loadJsArray = [
            {
                src:'/js/lib/lib.min.js',
                key:'baseInit'
            },
            {
                src:'/js/tunnel/index.min.js',
                key:'gameInit'
            }];
            lazyLoad(loadJsArray);
        }());
        </script>
    </body>
</html>