#app{
    position: relative;
    overflow: hidden;
}
#mapContainer{
    position: absolute;
    overflow: hidden;
}
#mapContainer img{
    position: absolute;
    display: block;
}
#footerStatus{
    position: absolute;
    width: 100%;
    z-index: 10;
    text-align: center;
    height: 0.8em;
    line-height: 0.8em;
    padding: 0.1em 0;
    background: rgba(0,0,0,0.5);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000,endColorstr=#BF000000);
    color: #fff;
    bottom: -9999px;
}
#chooseLevel{
    position: absolute;
    z-index: 15;
    right: 0.5em;
    bottom: -9999px;
    width: 2em;
    height: 2em;
}
#chooseLevel img{
    display: block;
    width: 100%;
    height: 100%;
}
#levelBoard{
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 100%;
    left: 100%;
    top: 0px;
    background-size: 100% 100%;
}
#levelBoardExit{
    position: absolute;
    z-index: 50;
    top: 0.2em;
    right: 0.5em;
    width: 3em;
    height: 3em;
}
#levelBoardExit img{
    display: block;
    width: 100%;
    height: 100%;
}
#levelWrapper{
    position: absolute;
    z-index: 40;
    overflow: hidden;
}
#levelContainer{
    position: absolute;
    z-index: 40;
    width: 100%;
}
.levelFlag{
    position: relative;
    float: left;
    margin-top: 1em;
    margin-left: 1em;
    width: 3em;
    height: 3em;
}
.levelFlagNum{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    font-size: 2em;
    height: 1em;
    line-height: 1em;
    text-align: center;
    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
    background-color: rgb(206, 162, 98);
    color: #fff;
}
.levelStatus{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 1em;
    border-bottom-left-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    background-color: #fff;
    text-align: center;
    line-height: 1em;
    color: rgb(255, 215, 0);
}
#showAbout{
    position: absolute;
    z-index: 15;
    left: 0.5em;
    top: -9999px;
    width: 2em;
    height: 2em;
}
#showAbout img{
    display: block;
    width: 100%;
    height: 100%;
}
#aboutBoard{
    position: absolute;
    z-index: 20;
    width: 80%;
    min-height: 80%;
    left: 10%;
    top: -9999px;
    background: #fff;
}
#aboutBoardExit{
    position: absolute;
    z-index: 50;
    top: 0.2em;
    right: 0.2em;
    width: 1em;
    height: 1em;
}
#aboutWrapper{
    position: relative;
    margin-top: 1em;
    overflow: hidden;
}
#aboutContainer{
    position: absolute;
    width: 100%;
}
#aboutBoardExit img{
    display: block;
    width: 100%;
    height: 100%;
}
#aboutTitle{
    margin-bottom: 0.5em;
    font-weight: bold;
    text-align: center;
}
#aboutList{
    padding-left: 1.5em;
}
#aboutList img{
    width: 1em;
    height: 1em;
    vertical-align: top;
}