#floor{
	position: absolute;
	width: 100px;
	height: 100px;
	left: 20px;
	top: 20px;
}
#app{
    position: relative;
    overflow: hidden;
    background-color: #aaa;
}
#topBar{
	position: absolute;
	width: 100%;
}
#mapContainer{
    position: absolute;
    width: 100%;
}
img{
	border: none;
	outline: none;
}
.grid{
    position: absolute;
    background-size: 100% 100%;
    background-color: rgb(20, 168, 0);
}
.grid .flagImg{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 20;
	display: none;
}
.grid .gridBgImg{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
	display: none;
}
#cmdArea{
	position: absolute;
	background-color: rgba(0,0,0,0.8);
	z-index: 100;
	display: none;
	font-size: 0;
}
#topBar{
	position: absolute;
	width: 100%;
	text-align: center;
	font-size: 1em;
}