#app{
    position: relative;
    overflow: hidden;
    background-color: #ddd;
}
#keyContainer{
    position: absolute;
    width: 100%;
    height: 50%;
    z-index: 100;
    left: 0;
    bottom: 3em;
    border-radius: 50%;
    overflow: hidden;
}
#innerCircle{
    position: absolute;
    border-radius: 50%;
    z-index: 10;
    background-color: #fff;
}
.key{
    position: absolute;
    border-bottom-style: solid;
    -webkit-transform-origin: 50% 0;
    z-index: 1;
    bottom: 0;
}
.keyFlag{
    position: absolute;
}
#key1{
    border-bottom-color: rgb(255,0,0);
}
#key2{
    border-bottom-color: rgb(255,165,0);
}
#key3{
    border-bottom-color: rgb(255,255,0);
}
#key4{
    border-bottom-color: rgb(0,255,0);
}
#key5{
    border-bottom-color: rgb(0,127,255);
}
#key6{
    border-bottom-color: rgb(0,0,255);
}
#key7{
    border-bottom-color: rgb(139,0,255);
}
#musicHeader{
    position: relative;
    overflow: hidden;
    height: 3.5em;
    margin-top: 20px;
}
#musicSelectContainer{
    position: absolute;
    width: 30%;
    height: 1em;
    display: block;
    top: 1.25em;
    left: 35%;
}
#musicSelect{
    position: absolute;
    left: 0px;
    width: 100%;
    z-index: 10;
    //opacity: 0;
    font-size: 1em;
}
#musicTitle{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 100%;
    z-index: 1;
}
#musicBase{
    position: absolute;
    font-size: 0.8em;
    top: 1.84em;
    right: 1em;
}
#musicScoreArea{
    position: relative;
    background-color: #999;
    height: 7em;
    overflow: hidden;
}
.musicList{
    position: relative;
    height: 3.5em;
}
#topMusicList{
    text-align: left;
    padding-left: 1em;
    top: 0.6em;
}
#bottomMusicList{
    text-align: right;
    padding-right: 1em;
}
.outerList{
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 2;
    color: green;
    overflow: hidden;
    -webkit-transition: width 500ms;
}
.innerList{
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 1;
}
#topMusicList .outerList{
    left: 1em;
}
#topMusicList .innerList{
    left: 1em;
}
#bottomMusicList .innerList{
    right: 1em;
}
.numList{
    position: relative;
    font-size: 0.8em;
}
.wordList{
    position: relative;
}
.topPointContainer{
    height: 0.8em;
    line-height: 0.2em;
}
.bottomPointContainer{
    height: 0.8em;
    line-height: 0;
}
.point{
    height: 0.22em;
}
.num{
    height: 0.8em;
}
.numContainer{
    display: inline-block;
    width: 1.25em;
    margin-right: 0.25em;
    text-align: center;
    vertical-align: top;
}
.mergeNumContainer{
    width: 0.625em;
}
.mergeFirstNumContainer{
    margin-right: 0;
}
.wordContainer{
    display: inline-block;
    width: 1em;
    margin-right: 0.2em;
    text-align: center;
}